.vertical-align-content > *
{
     display: flex!important;
     align-content: center!important;
     align-items: center!important;
}

ion-item[button] {
     pointer-events: initial !important;
 }